.clientes {
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  padding: 2rem;

}
.clientes-carro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  width: 650px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.clientes-carro img {
  max-width: 100%;
  display: none;
  transition: ease .3s;
 
}
.clientes-carro img.ativo {
  display: initial;
}

.clientes > h2 {
  font-size: 3rem;
  margin-top: 2rem;
  letter-spacing: 0.01rem;
  text-align: center;

}
.bola {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #402A22;
  cursor: pointer;
}
.bolas {
  position: absolute;
  bottom: -2%;
  right: 2%;
  top: 30%;
}
.bola + .bola {
  margin-top: 1rem;
}
.bola:hover {
  background-color: #0C0908;
  transform:scale3d(1.05, 1.05, 1.05);
  transition: ease .3s;
}
.bola.ativo {
  background-color: #0C0908;
  transform:scale3d(1.05, 1.05, 1.05);
  transition: ease .3s;
  height: 50px;
  border-radius: 40%;
}

@media(max-width: 700px) {
  .bola:hover {
    background-color: #402A22;
    transform:scale3d(0);
    transition: ease .3s;
   }
  .clientes-carro {
    width: 500px;
    height: 420px;
  }
  .clientes-carro img {
    width: 350px;
    height: 420px;
    transition: ease .3s;
  }
  .clientes > h2 {
    font-size: 2.5rem;
  }
}
@media(max-width: 550px) {
 
  .clientes-carro {
    width: 350px;
    height: 300px;
  }
  .clientes-carro img {
    width: 250px;
    height: 300px;
    transition: ease .3s;
  }
  .bola {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #402A22;
    cursor: pointer;
  }
  .bola.ativo {
    height: 40px;
    border-radius: 40%;
  }
  .bola + .bola {
    margin-top: 0.5rem;
  }
  .clientes {
    padding: 1rem;
    padding-left: 0;
  }
}
@media(max-width: 360px) {
  .clientes {
    overflow-x: auto;
  }
}
