.nuts-bg {
  background: linear-gradient(#402A22, #111111);
}

.nuts {
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 2rem;
  padding-top: 10rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  position: relative;
  z-index: 0;
}
.nuts-img > h3 {
  display: none;
}
.nuts-conteudo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-column: 2;
  grid-row: 1;
}
.nuts-img {
  grid-column: 1;
  grid-row: 1;
}

.nuts-conteudo > h3,
.nuts-img > h3 {
  font-size: 2.5rem; 
  align-self: flex-start;
}
.nuts-conteudo > p {
  font-size: 2.5rem;
  font-weight:normal;
  color: #EDEDED;
  max-width: 33ch;
}
.nuts-conteudo > a {
  text-decoration: none;
  color: white;
  border: 4px solid white;
  font-size: 2rem;
  border-radius: 0 0 50px 0;
  align-self: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  font-weight: bold;
  padding: .2rem 3rem;
  transition: .3s;
}
.nuts-conteudo > a:hover {
  background-color: white;
  color: #402A22;
  transform:scale3d(1.05, 1.05, 1.05);
}

.escolhasN {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  top: 20%;
  left: 10%;

}
.escolhasN > img {
  cursor: pointer;
  max-width: 80%;
  border: 2px solid transparent;
  border-radius: 50%;
}
.escolhasN > img:hover {
  transform: scale(1.1);
  transition: ease-in-out .3s;
  border: 2px solid white;
}
.escolhasN > img.selected {
  transform: scale(1.1);
  border: 2px solid white;
}

.nuts-img {
  position: relative;
}
.nutsDeitada {
  display: none;
}
.nutsDeitada,
.nutsV {
  transition: all .3s;
}
@media(max-width: 1050px) {
  .nuts-conteudo > h3,
  .nuts-img > h3 {
    font-size: 2rem; 
  }
  .nuts-conteudo > p {
    font-size: 2rem;  
  }
  .nuts-conteudo > a {
    font-size: 1.5rem;
  }
  .escolhasN {
    top: 15%;
    left: 7%;
    gap: 0.5rem;
  }
}
@media(max-width: 900px) {
  .escolhasN > img {
    max-width: 60%;
  }
  .escolhasN {
    top: 10%;
    left: 7%;
    gap: 0.5rem;
  }
  .nuts-conteudo > h3,
  .nuts-img > h3 {
    font-size: 1.8rem; 
  }
  .nuts-conteudo > p {
    font-size: 1.8rem;  
  }
  .nuts-conteudo > a {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}
@media(max-width: 780px) {
  .nuts > h2 {
    font-size: 2.5rem;
  }
  .nuts-conteudo > h3,
  .nuts-img > h3 {
    font-size: 1.5rem; 
  }
  .nuts-conteudo > p {
    font-size: 1.5rem;  
  }
  .nuts-conteudo > a {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}
@media(max-width: 680px) {
  .escolhasN {
    top: 10%;
    left: 5%;
    gap: 0.5rem;
  }
  .nuts-conteudo > h3,
  .nuts-img > h3 {
    font-size: 1.3rem; 
  }
  .nuts-conteudo > p {
    font-size: 1.3rem;  
  }
  .nuts-conteudo > a {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}

@media(max-width: 600px) {
  .nuts-conteudo {
    grid-column: initial;
    grid-row: initial;
  }
  .nuts-img {
    grid-column: initial;
    grid-row: initial;
  }
  .escolhasN {
    top: 20%;
    left: 5%;
    gap: 0.5rem;
  }
  .nuts {
    grid-template-columns: 1fr;
  }
  .nuts-conteudo > h3 {
    display: none;
  }
  .nuts-img {
    display: flex;
    flex-direction: column;
  }
  .nuts-img img{
    max-width: 80%;
    align-self: center;
  }
  .nuts-img > h3 {
    font-size: 2rem;
    display: initial;
    align-self: flex-end;
  }
  .nuts > h2 {
    grid-column: 1;
  }
  .nuts-conteudo {
    grid-row: 3 / 4;
  }
  .nuts-conteudo > p {
    max-width: 60ch;
  }
  .nuts-conteudo > a {
   align-self: center;
   border-radius: 0 0 0 0;
   font-size: 2rem;
  }
  .escolhasN > img {
    max-width: 60%;
  }
}
@media(max-width: 450px) {
  .escolhasN {
    top: 18%;
    left: 5%;
    gap: 0.5rem;
  }
}