@import url(./css/header.css);
@import url(./css/setagedois.css);
@import url(./css/fireball.css);
@import url(./css/nuts.css);
@import url(./css/summer.css);
@import url(./css/clientes.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Economica', sans-serif;
}
img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}